
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>LISTA DE ALUMNOS</span>
</div>

<div class="content" role="main">
  <span>LISTA DE ALUMNOS</span>
  <ul>
    <li [ngClass]="onlyAdults && calculateAge(a.birthDate) < 21? 'under21' : 'over21'" *ngFor="let a of students ; let i = index">
      <span [style.font-weight]="'bold'" *ngIf="a.gender==='F' ; else notFemale  "> {{i}}-{{a.firstName |uppercase }} {{a.lastName|uppercase}} - {{a.birthDate |date : "mediumDate" }} - {{a.gender}}</span>
      <ng-template #notFemale>
        <span>{{i}}-{{a.firstName |uppercase }} {{a.lastName|uppercase}} - {{a.birthDate |date : "mediumDate" }} - {{a.gender}}</span>
      </ng-template>
    </li>
  </ul>
</div>
 
<router-outlet></router-outlet>
